<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quiz</title>
  </head>
  <body>
    <h1>PROVE YOUR KNOWLEDGE!</h1>
    <form action="/answer" method="post">
      <h2> <%= @quiz['question'] %></h2>
      <button type="submit" value="" name="answer"><%= @quiz['answer1']  %></button>
      <button type="submit" value="" name="answer"><%= @quiz['answer2']  %></button>
      <button type="submit" value="" name="answer"><%= @quiz['answer3']  %></button>
      <button type="submit" value="" name="answer"><%= @quiz['answer4']  %></button>
    </form>
  </body>
</html>
